name: Update Refresh Time

on:
  workflow_run:
    workflows: ["Update Wakatime Stats"]
    types:
      - completed

jobs:
  update-fresh-time:
    name: Update Refresh Time field in README
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: generate README file
        run: python refresh_time.py
      - name: commit and push
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"
          git add .
          git commit -m "docs[skip actions]: update refresh time"
          git push
